<div class="view" id="ui">
	<!-- <div class="button" id="toggle-button">
		<button id="lineToggle" class="auxButton">toggle</button>
	</div> -->
	<!-- <div class="button" id="season-buttons">
		<button id="year" class="auxButton">year</button>
		<button id="winter" class="auxButton">winter</button>
		<button id="summer" class="auxButton">summer</button>
	</div> -->
	<div class="button" id="nav-buttons">
		<button id="back" class="uiButton">< back</button>
		<button id="dummy" class="uiButton"></button>
		<button id="next" class="uiButton">next ></button>
	</div>
</div>